<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>demoes</string>
		<key>image</key>
		<string>tab_bar_icon1</string>
		<key>selectedImage</key>
		<string>tab_bar_icon1_x</string>
	</dict>
</array>
</plist>
