<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>0</key>
		<array>
			<integer>0</integer>
		</array>
		<key>1</key>
		<array>
			<integer>180</integer>
		</array>
		<key>2</key>
		<array>
			<string>45</string>
		</array>
		<key>3</key>
		<array>
			<integer>135</integer>
		</array>
	</dict>
	<key>2</key>
	<dict>
		<key>0</key>
		<array>
			<real>-89.999</real>
			<real>89.999</real>
		</array>
		<key>1</key>
		<array>
			<real>-90.999</real>
			<string>90.999</string>
		</array>
		<key>2</key>
		<array>
			<integer>-45</integer>
			<integer>45</integer>
		</array>
		<key>3</key>
		<array>
			<integer>-135</integer>
			<integer>135</integer>
		</array>
	</dict>
	<key>3</key>
	<dict>
		<key>0</key>
		<array>
			<real>-89.999</real>
			<integer>0</integer>
			<real>89.999</real>
		</array>
		<key>1</key>
		<array>
			<real>-90.999</real>
			<integer>180</integer>
			<real>90.999</real>
		</array>
		<key>2</key>
		<array>
			<integer>-45</integer>
			<integer>135</integer>
			<integer>45</integer>
		</array>
		<key>3</key>
		<array>
			<integer>-135</integer>
			<integer>135</integer>
			<integer>45</integer>
		</array>
	</dict>
</dict>
</plist>
